body {
  background-color: #f9e5e5;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/happy-together.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  color: red;
  font-family: "Chonburi", serif;
  max-width: 1200px;
  padding: 120px 0;
  margin-top: -40px;
  text-align: center;
  max-width: 1400px;
}

.container {
  margin: 0 auto;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 1px;
  text-decoration: underline overline solid red;
}

h2,
h3 {
  font-weight: 400;
  font-style: normal;
  line-height: 2;
  letter-spacing: 1px;
}

h2 {
  margin-top: -50px;
  margin-bottom: 130px;
  font-size: 40px;
}

h3 {
  margin-top: 125px;
  font-size: 30px;
}

header a {
  padding: 16px 32px;
  font-size: 20px;
  background-color: rgba(255, 0, 0, 0.523);
  border-radius: 10px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
  line-height: 5px;
}

header a:hover {
  background-color: red;
  color: white;
}

footer {
  color: cornsilk;
  background-image: linear-gradient(rgba(204, 0, 0, 0.6), rgba(204, 0, 0, 0.6)),
    url("../images/ht-footer3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  font-size: 14px;
  font-weight: 200;
  line-height: 12px;
  opacity: 0.8;
}

.footer-git {
  text-align: center;
  margin-top: 100px;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  h1 {
    font-size: 40px;
    margin-top: 50px;
  }

  h2,
  h3 {
    font-size: 25px;
    margin-top: 40px;
    padding: 40px;
  }
}
